*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  display:flex;
  padding:133px 30px;
  gap:30px;
  position:relative;
}

.result{
  padding-top:78px;
  display:flex;
  flex-direction:column;
  gap:16px;
}

.result__video-container{
  width:711px;
  height:386px;
  position:relative;
}

.result__video{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
}

.search-form{
  display:flex;
  justify-content:space-between;
  height:54px;
}

.content__details{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
 
}

.content__list{
  overflow:hidden auto;
  max-height:298px;
  position:relative;
}

.content__list-item:not(:last-child){
  margin-bottom:30px;
}

.content__video-card{
  display:flex;
  height:107px;
  width:399px;
  justify-content:space-between;
}

.content__video-card:hover{
  text-decoration:underline;
}

.content__video-card:active{
  background-color: #545050;
}

.content__video-card:focus{
  outline:none;
}

.content__video-card:focus-visible{
  outline: 1px solid #fff;
}

.content__video-card-thumbnail{
  width:194px;
  height:103px;
  margin:4px 2px 2px 0;
  object-position:center;
  object-fit:cover;
}

.content__video-card-description-container{
  margin:4px 0 4px 2px;
  display:flex;
  flex-direction:column;
  gap:6px;
  color: #FFFFFF;
}

.search-form__fieldset-title{
  font-weight:400;
  font-size:18px;
  line-height:21.6px;
  font-family:Fira Sans Condensed;
  color: #FFFFFF;
}

.title{
  font-size:75px;
  line-height:70px;
  font-weight:700;
  font-family:Oswald;
  text-transform:uppercase;
  color: #FFFFFF;
  margin-top:3px;
}

.content__accent{
  opacity:0.3;
}

.content__card-link{
  text-decoration:none;
  color:#ffffff;
  margin:2px;
}

.content__video-card-title{
  font-size:27px;
  line-height:30px;
  font-weight:700;
  font-family:Oswald;
  text-transform:uppercase;
}
.content__video-card-description{
  font-size:18px;
  line-height:16.2px;
  font-weight:400;
  font-family:Fira Sans Condensed;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset{
  border:none;
  display:flex;
  flex-direction:column;
  row-gap:5px;
}


.search-form__label .visually-hidden{
  display:flex;
  padding:1.5px;
  gap:5px;
  width:fit-content;
  cursor:pointer;
}

.search-form__textfield{
  font-size: 18px;
  font-family:Fira Sans Condensed;
  line-height:21.6px;
  font-weight:normal;
  width:225px;
  appearance: none;
  outline: 1px solid #fff;
  background-color:transparent;
  cursor: pointer;
  border:none;
}

.search-form__textfield:hover{
  cursor:text;
  outline:none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.search-form__textfield:active{
  outline:1px solid #fff;
}

.search-form__textfield:focus{
  outline:none;
}

.search-form__textfield:focus{
  outline:1px solid #fff;
}

.search-form__checkbox-list{
  display:flex;
  gap:15px;
}

.search-form__label .search-form__checkbox{
  width:19px;
  height:19px;
}
.search-form__pseudo-checkbox {
  display:inline-block;
  position:relative;
  width:19px;
  height:19px;
  border:1px solid #fff;
  cursor:pointer;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox{
  content:"";
  position:absolute;
  top:auto;
  left:0;
  margin:1px;
  width:18px;
  height:18px;
  background-color:#fff; 
}

.button{
  cursor:pointer;
  background-color:transparent;
  border:1px solid #fff;
  color:#fff;
  font-size:18px;
  line-height:21.6px;
  font-weight:700;
  font-family:Fira Sans Condensed;
  text-align:center;
}

.search-form__submit-button{
  width:194px;
  height:34px;
  margin-top:20px;
}

.more-button{
  width:100%;
  height:34px;
}

button:hover{
  text-decoration:underline;
}

button:active{
  background-color: #545050;
  text-decoration:none;
}

button:focus{
  outline:none;
}

button:focus-visible{
  outline: 1px solid #fff;
  outline-offset:1px;
}

.search-form__label-text:hover{
  text-decoration:underline;
}
.search-form__label-text:active{
  outline:1px solid #fff;
}
.search-form__label-text:focus{
   outline:none;
}
.search-form__label-text:has(:focus-visible){
  outline: 1px solid #fff;
}

.search-form__label:has(:focus){
  outline:none;
}
.search-form__label:has(:focus-visible){
  outline:1px solid #fff;
}